@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

* {
  font-family: 'Open Sans', sans-serif;
}

.start-btn {
  margin-top: 20%;
}

.table-head th {
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.table-row td {
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.NoDataFound {
  display: flex;
}

input {
  border: 1px solid #CED4DA;
  border-radius: 6px;
  color: #6C757D;
}

#form1 {
  border-radius: 6px;
  text-align: left;
}