@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

* {
  font-family: 'Open Sans', sans-serif;
}

.start-btn {
  margin-top: 20%;
}

.table-head th {
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.table-row td {
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.NoDataFound {
  display: flex;
}

input {
  border: 1px solid #CED4DA;
  border-radius: 6px;
  color: #6C757D;
}

#form1 {
  padding-bottom: 10px;
  border-radius: 6px;
  text-align: left;
}

input::placeholder {
  position: absolute;
  padding-top: 4px;
}

.dropdown-inputs {
  position: relative;
  display: inline-table;
}

.dropdown-inputs input {
  padding-top: 3px;
  padding-bottom: 7px;
}

.dropdown-inputs input::placeholder {
  position: absolute;
  padding-top: 3px;
  padding-left: 4px;
}

input:focus {
  outline: none;
  border:1px solid #86B7FE;
  box-shadow: 0 0 6px #C2DBFE;
}